// Copyright 2018 murosan. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

package main

import (
	"fmt"
	"github.com/murosan/contest-util/cutil"
	"os"
)

//lib[sc] <------ this is necessary for importing receiver methods
// for multiple, declare like this ---> //lib[sc|intutil]

func main() {
	// initialize scanner
	// as declared in scanner.go, also sets default splitter to 'bufio.ScanWords'
	sc := cutil.NewScanner(os.Stdin)

	// changes splitter
	sc.SetSplitter("\n")

	input := sc.ScanStr()
	fmt.Println(input)
}
