// Copyright 2018 murosan. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

package main

import (
	"fmt"
	"github.com/murosan/contest-util/cutil"
)

func main() {
	reader := cutil.NewReader(100000)
	s := cutil.ReadLine(reader)

	fmt.Println(s)
}
